@import "tailwindcss";

@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@layer base {
  .p-component {
    line-height: normal;
    box-sizing: border-box;
  }
}
